<html>

<head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/Tween.js"></script>
  <style type="text/css">
   body {
    background-image: url(/static/img/bg.png);
    background-repeat: no-repeat;
   }
  </style>

    <script type="text/javascript">
    var socket_ws = io.connect('http://178.62.91.179:5000/ws');


    socket_ws.on('connect', function() {
        socket_ws.emit('join', {username: '{{g.user.nickname}}', room: {{game_id}} });
    });



    socket_ws.on('start_game', function(data) { 
         alert('all connected!'); 

		var creator = JSON.parse(data)['creator_id'];

		var stage = new PIXI.Container();

	        var renderer = new PIXI.autoDetectRenderer(800, 600, { transparent: true });
	        document.body.appendChild(renderer.view);


//arrays for places and cards

		var used_cards = [];
		for (var i = 0; i < 40; i++) { used_cards[i] = 0; }

		var card_places = [];
		for (var i = 0; i < 16; i++) { card_places[i] = 0; }

		var summator = [];
		var turn;

		var last_get_name = '';
		var my_round = 0;

		function empty_hands() {
			console.log("empty hands opened");
			var sum = 0;
			for (var i = 10; i < 16; i++) {
				sum += card_places[i];
			}
			if (sum == 0) {
			        socket_ws.emit('need_round', {room: {{game_id}}, round : my_round});
			}
		}
		console.log("variables declared");
		empty_hands();
		
//change user

		var user1 = [];
		var user2 = [];

		socket_ws.on('user_change', function(data) {
			turn = JSON.parse(data)['turn'];
			for (var i = 0; i < 10; i++) {
				if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = false; }
			}
			if (({{g.user.id}} == creator) && (turn == false)) {
				for (var i = 10; i < 13; i++) {
					if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = true; }
				}
				for (var i = 13; i < 16; i++) {
					if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = false; }
				}
				alert('your turn'); 
			} else if(({{g.user.id}} != creator) && (turn == true)) {
				for (var i = 10; i < 13; i++) {
					if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = false; }
				}
				for (var i = 13; i < 16; i++) {
					if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = true; }
				}
				alert('your turn'); 
			} else {
                                for (var i = 0; i < 16; i++) {
                                        if (card_places[i] != 0) { used_cards[card_places[i]-10].user_block = true; }
                                }
			}
		});

//        if ({{g.user.id}} == creator) { socket_ws.emit('change_user', {room: {{game_id}} }); }		


//lay functions
		var laid = 0;
		var lay_button = PIXI.Sprite.fromImage('/static/img/lay_b.png');
			stage.addChild(lay_button);
			lay_button.interactive = true;
			lay_button.position.x = 658;
			lay_button.position.y = 293;

		lay_button
			.on('mousedown', migL)
			.on('mouseup', lay)

			function migL() { lay_button.tint = 0x00FF00;}

			function lay() {
				lay_button.tint = 0xFFFFFF;
				if (laid > 0) {
					for (var i = 10; i < 16; i++) {
						if (laid > 0 && card_places[i] == laid) {
							 used_cards[laid-10].originx = used_cards[laid-10].position.x;
							 used_cards[laid-10].originy = used_cards[laid-10].position.y;
							 used_cards[laid-10].user_block = false;
							 socket_ws.emit('card_laid', {room: {{game_id}}, username : '{{g.user.nickname}}', laid : laid, i : i, x : used_cards[laid-10].originx, y : used_cards[laid-10].originy});
							 card_places[i] = 0;
							 laid = 0;
						}
					}
					socket_ws.emit('change_user', {room: {{game_id}}});
					empty_hands();
				}

			}

	socket_ws.on('card_laid', function(data) {
		var user1 = data['username'];
		if ('g.user.nickname' != user1) {
			var laid1 = data['laid'];
			var i1 = data['i'];
			var x1 = data['x'];
			var y1 = data['y'];
                        used_cards[laid1-10].originx = x1;
                        used_cards[laid1-10].originy = y1;
                        used_cards[laid1-10].position.x = x1;
                        used_cards[laid1-10].position.y = y1;
			used_cards[laid1-10].user_block = false;
                        card_places[i1] = 0;
		}
	});





//sum check functions

                function getPlace(picnum){
                        for (var j = 15; j >= 0; j--) {
                                if (card_places[j] == picnum) {
                                        return j;
                                }
                        }
                }

		function handings() {
			var j = 0;
			for (var i = 0; i < summator.length; i++) {
				if (getPlace(summator[i]) > 9) { j++;}
			}
			return j;
		}

		function scopa() {
			for (var j = 0; j < 10; j++) {
				if (card_places[j] > 0) { return false; } return true;
			}
		}

		var check_button = PIXI.Sprite.fromImage('/static/img/check_sum.png');
		stage.addChild(check_button);
			check_button.interactive = true;
			check_button.position.x = 658;
			check_button.position.y = 235;

		check_button
			.on('mousedown', mig)
			.on('mouseup', checkSum)

			function mig() { check_button.tint = 0x00FF00;}

			function checkSum() {
				check_button.tint = 0xFFFFFF;
				on_hand = handings();
				var sum = 0;
				if (summator.length > 1 && on_hand == 1) {
					for (var i = 0; i < summator.length; i++) {
						if (getPlace(summator[i]) > 9) {
							var need = summator[i];
							if (need % 10 == 0) { need = 10; } else { need = need % 10; }
						}
						else if (summator[i] % 10 == 0) { sum += 10; }
						 else {sum += summator[i] % 10;}
					}
					if (sum == need) {
						socket_ws.emit('card_taken', {room: {{game_id}}, username : '{{g.user.nickname}}', taken : JSON.stringify(summator)});
						for (var i = 0; i < summator.length; i++) {
							for (var j = 0; j < 16; j++) {
								if (card_places[j] == summator[i]) {card_places[j] = 0;}
							}
							stage.removeChild(used_cards[summator[i]-10]);
						}
						summator.splice(0, summator.length);
						if (scopa()) { 
							socket_ws.emit('scopa', {room: {{game_id}}, username : '{{g.user.nickname}}'});
						}
					} else { alert('Nauchis schitat');}
					socket_ws.emit('change_user', {room: {{game_id}} });
					empty_hands();
				}
			}


		socket_ws.on('card_taken', function(data) {
			var my_summator = JSON.parse(data)['taken'];
			last_get_name = data['username'];
			var nick = data['username'];			
			if ('{{g.user.nickname}}' != nick) {
				for (var i = 0; i < my_summator.length; i++) {
					for (var j = 0; j < 16; j++) {
						if (card_places[j] == my_summator[i]) { card_places[j] = 0;} }
					stage.removeChild(used_cards[my_summator[i]-10]); 
				}
			
			}
		 });

    socket_ws.on('round', function(data) { 
	console.log("round started");
        var received_cards = JSON.parse(data)['array_cards']; 
	my_round = JSON.parse(data)['round'];

	
	for (var i = 0; i < received_cards.length; i++) {
                console.log(received_cards)
		var picnum = received_cards[i];

		if (picnum > 9 && picnum < 50) { var picpath = '/static/img/' + picnum + '.png'; }
		else { var picpath = '/static/img/card_back.png';}

			var card_back = PIXI.Sprite.fromImage(picpath);
			stage.addChild(card_back);

			var align = false;
			var flagmove = false;

			card_back.interactive = true;
			card_back.anchor.x = 0.5;
			card_back.anchor.y = 0.5;
			card_back.scale.x = 1;
			card_back.scale.y = 1;
			card_back.user_block = false;


//card placement
			
			if (i < 3) {
				card_back.position.x = 290 + (i)*102;
				card_back.position.y = 105;
				card_places[10+i] = picnum;
				card_back.user_block = true;}
			else if (i > 2 && i < 6) {
				card_back.position.x = 290 + (i-3)*102;
				card_back.position.y = 483;
				card_places[10+i] = picnum;
				if({{g.user.id}} != creator) { card_back.user_block = true;}}
			else if (i > 6 && i < 9) {
				card_back.position.x = 394;
				card_back.position.y = 232 + (i-7)*122;
				if (i ==8) { card_places[7] = picnum;} else { card_places[2] = picnum; }
				if({{g.user.id}} != creator) { card_back.user_block = true;} }
			else if (i == 6) {
				card_back.position.x = 312;
				card_back.position.y = 232;
				card_places[1] = picnum;
				if({{g.user.id}} != creator) { card_back.user_block = true;}}
			else if (i == 9) {
				card_back.position.x = 476;
				card_back.position.y = 354;
				card_places[8] = picnum;
				if({{g.user.id}} != creator) { card_back.user_block = true;}}



			card_back.picnum = picnum;
			card_back.originx = card_back.position.x;
			card_back.originy = card_back.position.y;


			used_cards[picnum-10] = card_back;


	socket_ws.on('end_game', function() {
		alert("end of game, await for results");
		if (creator == '{{g.user.nickname}}') { socket_ws.emit('game_end', {room: {{game_id}}, username : last_get_name, taken : JSON.stringify(card_places)}); }
	});

	socket_ws.on('results', function(data){
		if ('{{g.user.nickname}}' == creator) { alert("Your score: " + data['user1'] + "\n Your scopas: " + data['scopa1'] + "\n \n His score: " + data['user2'] + "\n His scopas: " + data['scopa2']);}		
		else { alert("Your score: " + data['user2'] + "\n Your scopas: " + data['scopa2'] + "\n \n His score: " + data['user1'] + "\n His scopas: " + data['scopa1']);}		
		if (creator == '{{g.user.nickname}}') { socket_ws.emit('end', {room : {{game_id}}}); }
	});	


	socket_ws.on('card_drag', function(data) {
		var user1 = data['username'];
		if ('g.user.nickname' != user1) {
			var card = data['card'];
			var x1 = data['x'];
			var y1 = data['y'];
                        used_cards[card-10].position.x = x1;
                        used_cards[card-10].position.y = y1;
		}		
	});



    card_back

       // events for drag start
        .on('mousedown', onDragStart)
        .on('mouseup', onDragEnd)
        .on('mouseupoutside', onDragEnd)
        .on('mousemove', onDragMove)




//		function getPlace(picnum){
//			for (var j = 15; j >= 0; j--) {
//				if (card_places[j] == picnum) {
//					return j;
//				}
//			}
//		}

		function onDragStart(event){
			if (!this.user_block) {
				this.flagmove = false;
				this.data = event.data;
				this.alpha = 0.9;

				if (getPlace(this.picnum) >= 10 && this.tint != 0xFF6060 && laid == 0) { this.dragging = true; }
			}
		}

		function onDragEnd(){
			this.alpha = 1;
			this.dragging = false;


			if(this.flagmove)
				this.align = !this.align;





				//1
				if ((card_places[0] == 0) && this.position.x > 190 && this.position.x < 272 && this.position.y > 170 && this.position.y < 292){
					this.position.x = 230;
	                                this.position.y = 232;
					card_places[0] = this.picnum;
					laid = this.picnum; }

				//2
				else if ((card_places[1] == 0) && this.position.x > 271 && this.position.x < 354 && this.position.y > 170 && this.position.y < 292){
					this.position.x = 312;
					this.position.y = 232;
					card_places[1] = this.picnum;
					laid = this.picnum; }

				//3
				else if ((card_places[2] == 0) && this.position.x > 353 && this.position.x < 436 && this.position.y > 170 && this.position.y < 292){
					this.position.x = 394;
					this.position.y = 232;
					card_places[2] = this.picnum;
					laid = this.picnum; }

				//4
				else if ((card_places[3] == 0) && this.position.x > 435 && this.position.x < 518 && this.position.y > 170 && this.position.y < 292){
					this.position.x = 476;
					this.position.y = 232;
					card_places[3] = this.picnum;
					laid = this.picnum; }

				//5
				else if ((card_places[4] == 0) && this.position.x > 517 && this.position.x < 598 && this.position.y > 170 && this.position.y < 292){
					this.position.x = 558;
					this.position.y = 232;
					card_places[4] = this.picnum;
					laid = this.picnum; }

				//6
				else if ((card_places[5] == 0) && this.position.x > 190 && this.position.x < 272 && this.position.y > 291 && this.position.y < 412){
					this.position.x = 230;
					this.position.y = 354;
					card_places[5] = this.picnum;
					laid = this.picnum; }

				//7
				else if ((card_places[6] == 0) && this.position.x > 271 && this.position.x < 354 && this.position.y > 291 && this.position.y < 412){
					this.position.x = 312;
					this.position.y = 354;
					card_places[6] = this.picnum;
					laid = this.picnum; }

				//8
				else if ((card_places[7] == 0) && this.position.x > 353 && this.position.x < 436 && this.position.y > 291 && this.position.y < 412){
					this.position.x = 394;
					this.position.y = 354;
					card_places[7] = this.picnum;
					laid = this.picnum; }

				//9
				else if ((card_places[8] == 0) && this.position.x > 435 && this.position.x < 518 && this.position.y > 291 && this.position.y < 412){
					this.position.x = 476;
					this.position.y = 354;
					card_places[8] = this.picnum;
					laid = this.picnum; }

				//10
				else if ((card_places[9] == 0) && this.position.x > 517 && this.position.x < 598 && this.position.y > 291 && this.position.y < 412){
					this.position.x = 558;
					this.position.y = 354;
					card_places[9] = this.picnum;
					laid = this.picnum; }

				else {
					this.position.x = this.originx;
					this.position.y = this.originy;
					if (laid == this.picnum) {
						for (var i = 0; i < 10; i++) { if (card_places[i] == this.picnum) { card_places[i] = 0;}}
					}
					laid = 0; }
				socket_ws.emit('card_drag', {room: {{game_id}}, username : '{{g.user.nickname}}', card : this.picnum, x : this.position.x, y : this.position.y});


			if(this.align && !this.user_block){
				this.tint = 0xFFFFFF;
				this.align = false;
				var j;
				for (var i = 0; i < summator.length; i++) { if (summator[i] == this.picnum) { j = i; }}
//				laid = 0;
				summator.splice(j, 1);
			        socket_ws.emit('color', {'card': this.picnum, username : '{{g.user.nickname}}', room : {{game_id}}});

			} else if (this.position.x == this.originx && this.position.y == this.originy  && !this.user_block) {
				this.tint = 0xFF6060;
				this.align = true;
//				laid = 0;
				summator.push(this.picnum);
			        socket_ws.emit('color', {card: this.picnum, username : '{{g.user.nickname}}', room : {{game_id}}});
			}


			this.data = null;
		}




		function onDragMove(){
			if(this.dragging){
				var newPos = this.data.getLocalPosition(this.parent);
				if (this.position.x != newPos.x && this.position.y != newPos.y) { this.flagmove = true; }
				if (newPos.x > 800 || newPos.x < 0 || newPos.y > 600 || newPos.y < 0) {} else {
					this.position.x = newPos.x;
					this.position.y = newPos.y; }
				socket_ws.emit('card_drag', {room: {{game_id}}, username : '{{g.user.nickname}}', card : this.picnum, x : newPos.x, y : newPos.y});
			}
		}





		function animate() {
				requestAnimationFrame(animate);
				TWEEN.update();
				renderer.render(stage);
			}

	requestAnimationFrame(animate);
//                socket_ws.on('card_color', function(data) {
//	                if ('{{g.user.nickname}}' != data['username']) {
//				var pic = data['card'];
//				alert(pic);
//				this = used_cards[pic];
//				if (this.tint ==  0xFFFFFF) { this.tint = 0xFF6060; 
//				} else { this.tint = 0xFFFFFF; }
//				if (used_cards[pic].tint ==  0xFFFFFF) { used_cards[pic].tint = 0xFF6060; 
//				} else { used_cards[pic].tint = 0xFFFFFF; }
//			} 
//		}); 

	}
        if ({{g.user.id}} == creator &&  received_cards.length == 10) { socket_ws.emit('change_user', {room: {{game_id}} }); }



 
    });

});


    </script>
</head>
<body>

</body>
</html>
