{% extends "base.html" %}
{% block content %}

  <button onClick='location.href="/create_game"'> 
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Game</button>

      {% for game in games %}
	<div class="row" width="96%" >
		<div width="48%" align="left"> <h2>Game #{{game.id}}</h2> <br> with {{game.username}}</div>            

		<div width="48%" align="right"> <a href='game/{{game.id}}'>Join Game #{{game.id}}</a><br />  </div>
	</div>
	<hr>
      {% endfor %}


{% endblock %}
